# General files
*.tgz
.project
.deploy

# MacOS
._*
.DS_Store

# JetBrains
.idea/
*.iml

# VSC
.vscode

# Emacs
*~
\#*\#
.\#*

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# ct config files (auto-downloaded by test/ct-test.sh)
test/chart_schema.yaml
test/lintconf.yaml

# TODO
TODO
